 


 body{
    background-image: url("http://www.vivaah.infinitycomputer.in/images/abt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

div.gallery img:hover {
  border: 2px solid white;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

.banner {
           background-color: transparent;
            width: auto;
            height: 80px;
            text-align: left;
         
            display: inline-block;
            color: white;
            margin-bottom: 5%;
           
        }
.button1,.head{
            border: 1px solid white;
            background-color: transparent;
            margin-right: 10px;
            padding: 10px 10px 10px;
            font-size: 20px;
            color: white;
            border-radius: 15px;
            font-weight: bold;
            width: 100px;
            display: inline-block;
            box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

        }  
        .main{
          margin-right: 900px;
          width: 250px;
           background-color: white;
           color: black;
          text-align: center;
          font-size: 25px;
          margin-left: 20px;
        }    

        
div.desc {
  padding: 15px;
  text-align: center;
}
.head{
  width: 400px;
  background-color: white;
  margin-top: 40px;
letter-spacing: 5px;
  color: black;
  border-radius: 0;
  font-weight: bold;
  box-shadow: none;
           
        
            
            
}  
* {
  box-sizing: border-box;
}



img{
  border-radius: 15px;
  border: 5px solid white;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 23%;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 10px;
 
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}